@font-face {
    font-family: 'PingFang SC';
    src: url('../assets/PingFangSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'PingFang SC';
}