
.message {
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    user-select: none;
    position: fixed;
    width: fit-content;
    max-width: 80vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% - 50px));
    opacity: 0;
    z-index: 9999999;
    animation: slideDown .5s both;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.message-container.hide .message {
    animation: slideUp .5s both;
}

@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, calc(-50% - 50px));
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(-50% - 50px));
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.message.error {
    background-color: #ef4f4f;
    border: 2px solid #ff0000;
}

.message.info {
    background-color: #0095ff;
    border: 2px solid #001aff;
}

.message .text {
    flex: 1;
}

.message .close {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.message .close img {
    width: 100%;
}

.message.confirm {
    flex-direction: column;
}

.message.confirm .btns {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    gap: 12px;
    margin-bottom: 4px;
}

.message.confirm .btns button {
    flex: 1;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;
}

.message.confirm button.success {
    flex-grow: 2;
    background-color: #fff;
    color: #0095ff;
}

.message.confirm button.cancel {
    background-color: #fff3;
}

.message-container .mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0003;
    z-index: 9999998;
    opacity: 1;
    transition: .5s;
}

.message-container.hide .mask {
    opacity: 0;
    pointer-events: none;
}